repositories: []

releases:
  - name: auth-service
    namespace: default
    chart: ./helm/auth-service
    values:
      - image:
          repository: backend-auth-service
          tag: latest
          pullPolicy: Never
      - env:
          dbHost: host.docker.internal
          dbPort: "5432"
          dbUser: pinz_user
          dbName: pinz_db
          redisAddr: host.docker.internal:6379
          grpcPort: ":50051"
          otelExporterEndpoint: "otel-collector:4317"
          otelServiceName: "auth-service"
          otelTracesSampler: "parentbased_always_on"
          otelTracesSamplerArg: "1.0"
      - secret:
          dbPassword: "pinz_password"
          jwtSecretKey: "change-me-in-production"

  - name: trip-service
    namespace: default
    chart: ./helm/trip-service
    values:
      - image:
          repository: backend-trip-service
          tag: latest
          pullPolicy: Never
      - env:
          dbHost: host.docker.internal
          dbPort: "5433"
          dbUser: pinz_user
          dbName: pinz_trips
          redisAddr: host.docker.internal:6379
          grpcPort: ":50052"
          otelExporterEndpoint: "otel-collector:4317"
          otelServiceName: "trip-service"
          otelTracesSampler: "parentbased_always_on"
          otelTracesSamplerArg: "1.0"
      - secret:
          dbPassword: "pinz_password"

  - name: api-gateway
    namespace: default
    chart: ./helm/api-gateway
    needs:
      - default/auth-service
      - default/trip-service
    values:
      - image:
          repository: backend-api-gateway-service
          tag: latest
          pullPolicy: Never
      - env:
          apiGatewayPort: "8080"
          authServiceGrpcAddress: auth-service.default.svc.cluster.local:50051
          tripServiceGrpcAddress: trip-service.default.svc.cluster.local:50052
          swaggerHost: "localhost:8080"
          otelExporterEndpoint: "otel-collector:4317"
          otelServiceName: "api-gateway-service"
          otelTracesSampler: "parentbased_always_on"
          otelTracesSamplerArg: "1.0"
